.bsp-dropzone {
    background: repeating-linear-gradient(
        45deg,
        rgb(240, 240, 240),
        rgb(240, 240, 240) 40px,
        rgb(230, 230, 230) 40px,
        rgb(230, 230, 230) 80px
    );
    width: 100%;
    height: 400px;
    position: relative;
    border: 1px dashed rgb(200, 200, 200);
    cursor: pointer;
    opacity: 0.8;
}

/*.bsp-dropzone.active {
    opacity: 1.0;
    background: repeating-linear-gradient(
        45deg,
        rgb(240, 240, 240),
        rgb(240, 240, 240) 40px,
        rgb(230, 230, 230) 40px,
        rgb(230, 230, 230) 80px
    );
}*/

.bsp-dropzone.error {
    opacity: 1.0;
}

.bsp-dropzone-text {
    border-radius: 8px;
    background: white;
    position: absolute;
    padding: 10px 20px;
    top: 50%;
    left: 50%;
    font-size: 16px;
    transform: translateX(-50%) translateY(-50%);
    /*font-weight: bold;*/
    font-family: "Courier New";
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.bsp-entity-list {
    border: 1px solid #DDD;
    list-style: none;
    padding-left: 0;
    font-size: 13px;
    overflow-y: scroll;
    height: 800px;
}

.bsp-entity-list li {
    padding-left: 8px;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    cursor: default;
}

.bsp-entity-list .active {
    background-color: #428bca;
    color: white;
}

.entity-info-panel {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.no-margin {
    margin: 0;
}
